/* Here goes your CSS */
body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DD5555;
  font-size: 22px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #ccc;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #ccc;
}

/* mouse over link */
a:hover {
  color: #FF0000;
  font-size: 16px;
}

div {
  display: block;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.img-border-grey {
  border: 3px solid #808080;
}

td {
  padding: 10px;
}

table p {
  font-size: 12px;
  text-align: justify;
}
.poster_movie {
  margin: 5px;
}

.btn-red {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.btn-red:hover {
  background-color: #FF0000;
  color: white;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

